body {
  text-align: center;
  font-weight: bold;
}
#db {
  border: 2px black solid;
}

article{
  border: 2px black solid;
}

table{
  margin: auto;
  background-image: linear-gradient(to right, white, #8ddfff, white);
  border-radius: 20px;
}
th, td {
  border-bottom: 1px black solid;
}

input[type="text"]:disabled {
  background: #dddddd;
}

input[id=aus] {
    pointer-events: none;
}

#aus {
  background-color: lightgrey;
}

button[value=Löschen] {
  border-radius: 20px;
  font-family: monospace;
  font-size: 1.3em;
  background-color: red;
}

input[type=submit], input[type=reset] {
  border-radius: 20px;
  font-family: monospace;
  font-size: 1.3em;
  background-color: #00b7ff;
}

input {
  background-color: #8ddfff;
}
